.container{
    margin: 0 auto;
    width: 60%;
}
.flex-container{
    justify-content: center;
    text-align: center;
}
.input-field{
    width: 100%;
    margin-top: 50px;
}

.input-field button {
    margin-left: 10px;
}

.book-list{
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.book{
    width: 300px;
    margin: 10px;
    height: 330px;
    background-color: #b3d6f8;
    transition: all 0.2s ease-in-out;
}

.book:hover{
    background-color: #87bbf0;
}
.book-error{
    width: 300px;
    margin: 10px;
    height: 300px;
    background-color: #b3d6f8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.author{
    margin-bottom: 10px;
}
.image{
    margin: 0 auto;
    transition: all 0.2s ease-in-out
}

.image:hover{
    transform: scale(1.1);
}
.text{
    font-size: 80px;
}